@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply flex;
    @apply flex-col;
    @apply min-h-screen;
  }

  a {
    transition: all 0.1s ease-out;
  }

  a:hover {
    opacity: 70%;
  }

  th,
  td {
    @apply px-2;
    @apply py-1;
  }

  tbody > tr:last-child > td:first-child {
    @apply rounded-bl-lg;
  }

  tbody > tr:last-child > td:last-child {
    @apply rounded-br-lg;
  }
}

@layer components {
  .test-border {
    border: 1px solid red;
  }
}
