@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply flex;
    @apply flex-col;
    @apply min-h-screen;
  }

  a {
    transition: all 0.1s ease-out;
  }

  a:hover {
    opacity: 70%;
  }
}

@layer components {
  .test-border {
    border: 1px solid red;
  }
}
